.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.wrapper .user-roles {
    display: flex;
    flex-direction: column; /* Change flex direction to column */
}

.wrapper .user-roles label {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add margin between radio buttons */
}

.wrapper .user-roles input {
    margin-right: 10px; /* Add margin between radio button and text */
}
