.home {
    position: relative;
}

.wrapper {
    /* Add styles to create space below the navbar, adjust as needed */
    padding-top: 80px; /* Adjust the padding to match the height of your navbar */
}

/* Ensure the navbar spans the entire width of the viewport */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; /* Add your desired background color */
    z-index: 1000; /* Adjust the z-index as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for visual effect */
}
