.outter-reg {
    padding: 100px 0;
}

.wrapper-reg {
    /* creates the overall back rectange that will match the login screen */
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper-reg h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
}

/* .wrapper-reg button {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
} */

.wrapper-reg .user-roles {
    display: flex;
    flex-direction: column; /* change flex direction to column so each new element stars atop one another */
}

.wrapper-reg .user-roles label {
    display: flex;
    align-items: center; /* centers the buttons */
    margin-bottom: 10px; /* add space between radio buttons */
}

.wrapper-reg .user-roles input {
    /* add margin between radio button and label */
    margin-right: 10px;
}

.wrapper-reg h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper-reg .input-box-reg {
    /* alligns the input boxes within the wrapper (flex) */
    position: relative;
    width: 100%;
    /* height: 50px; */
    margin: 10px 0;
}

.input-box-reg input {
    /* styles the input box (name, email, and password) */
    width: 100%;
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box-reg input::placeholder {
    color: white;
}

input[type="email"] {
    height: 50px;
}

.loginInfo {
    position: relative;
    padding-top: 15px;
}

.form-group {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 30px;
    margin: 15px 0 30px;
    font-size: 20px;
}

.form-group label {
    padding-right: 10px;
}

.wrapper-reg .dropdown {
    width: 175px;
    height: 30px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-size: 16px;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
    outline: none;
}

.dropdown:focus {
    border-color: #4d90fe; /* Example color for focus */
}

.dropdown option {
    background: transparent;
    color: #333; /* Text color of dropdown options */
}

.wrapper-reg .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 30px 0 5px;
}

.login-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}

.btn-reg {
    padding: 0 0 0 10px;
}

.btn-submit {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 700;
    margin-bottom: 7px;
    margin-top: 10px;
}

.btn-oauth {
    background-color: #fdeebbfd;
    width: 75%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}

.o-btn {
    display: flex;
    justify-content: center;
}
